* text=auto eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.ogg binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.zip binary
*.jar binary
*.class binary
*.mca binary
*.nbt binary
*.schem binary
*.schematic binary
*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.pdf binary

src/generated/**/.cache/cache text eol=lf
src/generated/**/*.json text eol=lf
